<!-- loggedin.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
 
<body>
    <div>
        <img src="{{ url_for('static', filename = 'process/logo.png' ) }}" alt="천재교육" width="198" height="55">
        <p><h1>천재교육 K-디지털 트레이닝 AI 면접</h1>
            </p>
        
    </div>
        <form action = "" method="post">
        <p>로그인 성공 페이지</p>
        <a href= "/logout">로그아웃</a>

        <a href= "/home">인덱스</a>
        </form>
</body>
</html>